.header {
  background-color: $blue7;
  @include shadow;

  .header-content {
    height: 100%;
    margin: 0 auto;
    max-width: rem(1280);
    padding: rem(10) rem(16);
    display: flex;
    justify-content: space-between;
    line-height: rem(32);

    .header-label {
      color: $sk-white;
      font-size: rem(32);
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
